@model ProjectDetailsViewModel


<h4>Archiving this project will hide it for non-Admins while allowing it to be restored later.  Would you rather archive?</h4>
@using (Html.BeginForm("Edit", "Project", new { id = Model.ID }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.School.ID)
    <input data-val="true" data-val-required="The Status field is required." id="Status" name="Status" type="hidden" value="Archived">
    
    <div class="hidden">
        @Html.Partial("_M_N_Edit_Table", new EmissaryTuple(Model.Emissaries))
    </div>

    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Archive" />
    </div>
}