@model HasID

@{
    ViewBag.Title = "Delete";
    String controller = (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() ?? "").ToLower();
}

@Html.Partial("_Details")

<div align="right">
    <div align="center">
        <h3>Are you sure you want to delete? If you delete this @controller, it will be gone forever.</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:center">
            <input type="submit" value="Confirm Delete" class="btn btn-danger" />
            @Html.ActionLink("Cancel", "Details", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-default", @style="color:black" })
        </div>
    }
    @if (controller.Equals("project") && Model is ProjectDetailsViewModel && !(Model as ProjectDetailsViewModel).IsArchived())
    {
        <div align="center">
            @Html.Partial("_DeleteArchive")
        </div>
    }   
</div>
