@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_Edit")

    <div align="center">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancel", "Details", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-default", @style = "color:black" })
                <input class="btn btn-success" type="submit" value="Save" />
            </div>
        </div>
    </div>
}